/* 
    Created on : 25/08/2015, 20:25:19
    Author     : maik
*/
body{
    margin: 0;
}
.sai-guia-background{
    background: #254559;
    border: none;
}
.sai-guia-lingua{
    margin: 0 auto;
    float: right;
}
.sai-guia-lingua img{
    padding: 10px;
    max-height: 30px;
}
.sai-guia-img-logo{
    float: left;
}
.sai-guia-img-logo img{
    padding: 10px;
    max-height: 50px;
}
.sai-guia-menu ul{
    margin-top: 20px;
    font-size: 14px;
    background: #254559;
    opacity: 0.9;
}
.sai-guia-menu ul li{
    color: #ffffff;
    border: none;
    border-radius: 4px 4px 0 0;
}
.sai-guia-menu ul li a{
    color: #ffffff;
    padding: 10px;
    margin: 0;
}
.sai-guia-menu ul li a{
    color: #ffffff;
    padding: 10px;
    margin: 0;
}
.sai-guia-menu ul li a.dropdown-toggle{
    color: #ffffff;
    padding: 10px;
    margin: 0;
}
.sai-guia-menu ul li a:hover.dropdown-toggle{
    color: #ffffff;
    padding: 10px;
    margin: 0;
}
.sai-guia-menu ul li a:hover{
    color: #254559;
}
.sai-guia-menu ul li .divider{
    margin: 0;
}
.sai-guia-conteudo{
    margin: 0 auto;
    max-width: 1000px;
}
.sai-guia-conteudo-banner-principal{
    width: 100%;
    margin: -20px 0 0 0;
}