/* 
    Created on : 25/08/2015, 20:25:19
    Author     : maik
*/
body{
    margin: 0;
}
.sai-guia-background{
    background: #254559;
    border: none;
}
.sai-guia-lingua{
    width: 100%;
    text-align: center;
}
.sai-guia-lingua img{
    padding: 5px;
    max-height: 30px;
    cursor: pointer;
}
.sai-guia-img-logo{
    float: left;
}
.sai-guia-img-logo img{
    padding: 10px;
    max-height: 50px;
}
.sai-guia-menu{
    margin-top: -5px;
}
.sai-guia-menu ul{
    margin-top: 10px;
    font-size: 16px;
    background: #254559;
    opacity: 0.9;
}
.sai-guia-menu ul li{
    color: #ffffff;
    border: none;
    border-radius: 4px 4px 0 0;
}
.sai-guia-menu ul li a{
    color: #ffffff;
    padding: 10px;
    margin: 0;
}
.sai-guia-menu ul li a{
    color: #ffffff;
    padding: 10px;
    margin: 0;
}
.sai-guia-menu ul li a.dropdown-toggle{
    color: #ffffff;
    padding: 10px;
    margin: 0;
}
.sai-guia-menu ul li a:hover.dropdown-toggle{
    color: #ffffff;
    padding: 10px;
    margin: 0;
}
.sai-guia-menu ul li a:hover{
    color: #254559;
}
.sai-guia-menu ul li .divider{
    margin: 0;
}
.sai-guia-conteudo{
    margin: 0 auto;
    max-width: 1000px;
}
.sai-guia-conteudo-banner-principal{
    width: 100%;
    margin: -20px 0 0 0;
}
.sai-guia-menu-campus{
    width: 100%;
    display: table;
}
.sai-guia-menu-campus div{
    float: left;
    padding: 2% 3.7% 2% 3.7%;
    text-align: center;
    width: 200px;
}
.sai-guia-menu-campus div img{
    max-width: 130px;
}
.sai-guia-menu-campus div p{
    padding-top: 10px;
    font-size: 1.2em;
}
.sai-guia-mapas{
    width: 100%;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sai-guia-mapas-titulo{
    color: #ffffff;
    background: #254559;
    height: 14%;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.4em;
}
.sai-guia-mapas-frame{
    width: 100%;
    height: 86%;
    border: none;
}
.sai-guia-menu-secundario{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sai-guia-menu-secundario ul{
    list-style: none;
    width: 100%;
}
.sai-guia-menu-secundario ul li{
    margin: 5px 5% 5px 5%;
    width: 40%;
    float: left;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 4px;
}
.sai-guia-menu-secundario-cor-azul{
    background: blue;
    color: #ffffff;
}
.sai-guia-menu-secundario-cor-azul2{
    background: #269abc;
    color: #000000;
}
.sai-guia-menu-secundario-cor-vermelho{
    background: red;
    color: #000000;
}
.sai-guia-menu-secundario-cor-amarelo{
    background: yellow;
    color: #000000;
}
.sai-guia-menu-secundario-triangulo-azul{
    border-color: blue transparent transparent transparent;
    border-width: 10px;
    border-style: solid;
    width: 1%;
    margin-left: -1%;
    margin-top: 0.1%;
    position: absolute;
}
.sai-guia-menu-secundario-triangulo-azul2{
    border-color: #269abc transparent transparent transparent;
    border-width: 10px;
    border-style: solid;
    width: 1%;
    margin-left: -1%;
    margin-top: 0.1%;
    position: absolute;
}
.sai-guia-menu-secundario-triangulo-vermelho{
    border-color: red transparent transparent transparent;
    border-width: 10px;
    border-style: solid;
    width: 1%;
    margin-left: -1%;
    margin-top: 0.1%;
    position: absolute;
}
.sai-guia-menu-secundario-triangulo-amarelo{
    border-color: yellow transparent transparent transparent;
    border-width: 10px;
    border-style: solid;
    width: 1%;
    margin-left: -1%;
    margin-top: 0.1%;
    position: absolute;
}
